# Introduction

Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. It was created by Guido van Rossum during 1985- 1990. Like Perl, Python source code is also available under the GNU General Public License (GPL). This tutorial gives enough understanding on Python programming language.

Python is Interpreted − Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. This is similar to PERL and PHP.

Python is Interactive − You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.

Python is Object-Oriented − Python supports Object-Oriented style or technique of programming that encapsulates code within objects.

Python is a Beginner's Language − Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.

# Environment Setup

### Ancaonda Setup:
  - https://www.anaconda.com/distribution/

## how to setup library in python?
###  - open windows search.
###  - search for "conda prompt"
###  - pip install "library name " or conda install "library name"

### ------------------------------------------------------------------------------------------------------------------------------------

## Print

In [1]:
name = "Abdelrahman aLI"
print("Normal String: ",name)
print("Lower String: ",name.lower())
print("Upper String: ",name.upper())
print("Title String: ",name.title())

Normal String:  Abdelrahman aLI
Lower String:  abdelrahman ali
Upper String:  ABDELRAHMAN ALI
Title String:  Abdelrahman Ali

In [13]:
name= "Abdelrahman"
age= 25
print("My NAME IS:  {}, and MY AGE IS: {}".format(name,age))

My NAME IS:  Abdelrahman, and MY AGE IS: 25

### Quotation in Python
Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals, as long as the same type of quote starts and ends the string.

The triple quotes are used to span the string across multiple lines. For example,

In [19]:
word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is made up of multiple lines and sentences."""

print(word,',', sentence)

word , This is a sentence.

### Waiting for the User
The following line of the program displays the prompt, the statement saying “Press the enter key to exit”, and waits for the user to take action

In [23]:
Fname =input("Enter your name please: ")
Lname= input("Enter your name age:")

print("Welcome MR. {} {} to python".format(Fname,Lname))

Enter your name please: help
Enter your name age:me
Welcome MR. help me to python

# Data Types

- Numbers
- Strings
- Lists
- Dictionaries
- Booleans
- Tuples
- Sets

# Numbers

In [28]:
x=1
print(x,"Type of X is: ",type(x))

1 Type of X is:  <class 'int'>

In [25]:
x=1.2
x

1.2

# Strings

In [34]:
x="Ahmed"
y=" Ali"
z= x+y
print(x[0:3],x[-1],z)

Ahm d Ahmed Ali

In [74]:
names=" hello World, this is python! "
no_f=names.strip() #lstrip(), rstrip()
print("First and Last spaces removal: ",no_f)
print("Spliting every thing ", names.split(" "))
print("Spliting withput First and last spaces ", no_f.split(" "))

First and Last spaces removal:  hello World, this is python!
Spliting every thing  ['', 'hello', 'World,', 'this', 'is', 'python!', '']
Spliting withput First and last spaces  ['hello', 'World,', 'this', 'is', 'python!']

In [75]:
names.replace("python",'me')

' hello World, this is me! '

In [12]:
age=25
message=" My age is : "+ str(age)+ " years"
print(message)

 My age is : 25 years

In [21]:
li=["Hello","Data","scientists"]
print(" ".join(li)) #separate text with space
print(",".join(li)) #separate text with ,

Hello Data scientists
Hello,Data,scientists

# Lists

In [1]:
li=['hello', 'this', 'is', 'abdelrahman']

In [2]:
" ".join(li)

'hello this is abdelrahman'

In [15]:
li[2]

'is'

In [16]:
li[-1]

'abdelrahman'

In [17]:
li[-1][0]

'a'

In [18]:
li[-1][5]

'r'

In [19]:
li[0].title()

'Hello'

In [20]:
li[-1]='me'

In [21]:
li

['hello', 'this', 'is', 'me']

In [22]:
li.append("From Egypt")

In [23]:
li

['hello', 'this', 'is', 'me', 'From Egypt']

In [24]:
li.insert(0,'Abdo')
li

['Abdo', 'hello', 'this', 'is', 'me', 'From Egypt']

In [25]:
del(li[0])
li

['hello', 'this', 'is', 'me', 'From Egypt']

In [26]:
li.remove('hello')
li

['this', 'is', 'me', 'From Egypt']

In [53]:
li=[51,22,15,80,75,12]
# li.sort(reverse=True)
li.sort()
print(li)

[12, 15, 22, 51, 75, 80]

In [54]:
li.reverse()
li

[80, 75, 51, 22, 15, 12]

In [55]:
len(li)

6

In [56]:
li

[80, 75, 51, 22, 15, 12]

In [57]:
li.pop(2) #removes and prints out the n from the list

51

In [58]:
li

[80, 75, 22, 15, 12]

In [60]:
cars=['Audi','Toyota','Porsche','BMW']

In [62]:
cars

['Audi', 'Toyota', 'Porsche', 'BMW']

In [65]:
cars.sort() #sort(reverse=True)
cars

['Audi', 'BMW', 'Porsche', 'Toyota']

In [71]:
cars.reverse()
cars

['Toyota', 'Porsche', 'BMW', 'Audi']

In [119]:
numbers=list(range(0,15))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [124]:
#List Comprehensions
squared=[values**2 for values in numbers]
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [123]:
print("Min. Number is :",min(numbers))
print("Max. Number is :",max(numbers))
print("sum of Numbers is :",sum(numbers))

Min. Number is : 0
Max. Number is : 14
sum of Numbers is : 105

In [5]:
l1=["Hello","This","is","My first list"]
l2=["Hello","This","is","My second list"]    
l3=["Hello","This","is","My third list"]

In [7]:
full_lists=l1+l2+l3
full_lists

['Hello',
 'This',
 'is',
 'My first list',
 'Hello',
 'This',
 'is',
 'My second list',
 'Hello',
 'This',
 'is',
 'My third list']

In [39]:
l1=["hello","from l1"]
l2=l1

In [40]:
l2[0]="goodbye!"

In [41]:
l1

['goodbye!', 'from l1']

In [43]:
l1=["hello","from l1"]
l2=l1.copy() #or l2=l1[:]

In [44]:
l2

['hello', 'from l1']

In [45]:
l2[0]="goodbye!"

In [46]:
l1

['hello', 'from l1']

# Tuples

In [15]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)           # Prints complete t
print(tuple[0])        # Prints first element of the list
print(tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print(tuple[2:])       # Prints elements starting from 3rd element
print(tinytuple * 2)   # Prints list two times
print(tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [16]:
tuple[0]="Help"

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [81]:
info = {'First Name': 'Abdelrahman', 'Last Name': "Ahmed", "age":30}

In [82]:
info['First Name']

'Abdelrahman'

In [83]:
info.get('age')

30

In [100]:
info['address']="Qatar"

In [101]:
info

{'First Name': 'Abdelrahman',
 'Last Name': 'Ahmed',
 'age': 30,
 'address': 'Qatar'}

In [103]:
del(info['address'])

In [104]:
info

{'First Name': 'Abdelrahman', 'Last Name': 'Ahmed', 'age': 30}

# Sets

In [3]:
basket = ["Ali" ,  "sami" ,"mahmoud" ,"Ahmed" , "Ali" , "Ahmed" ]

In [4]:
uni=set(basket)

In [ ]:
uni_2={"ali"}

In [27]:
uni

{'Ahmed', 'Ali', 'mahmoud', 'sami'}

#### Built-in functions
list(), str(), mean(), max(), min(),len(),sum(),copy(), del(), set(),round(),tuple(),apply(),..........

In [38]:
li=[5,7,9,15]
print(sum(li)/len(li))

9.0

In [2]:
round(5.3356,2)

5.34

In [3]:
max([10,20,30,50])

50

In [4]:
min([10,20,30,50])

10